html,body
{
  margin: 0;
  overflow-x: hidden;
}

body
{


  background-attachment: scroll;
    color: black;
font-family: Cantarell, Helvetica, Arial, serif;
  font-size: 24px;
  margin-bottom: 250px;

}

.underline
{
  text-decoration: underline;
}

h2
{
  margin-top: 0px;
}

#s2
{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;

}

#event_container {
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
}

.event {
  background-color: #f1f1f1;
  width: 300px;
  margin: 20px;
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.7),3px 5px 7px rgba(0, 0, 0, 0.7);
}
