#footer_container
{
  position: absolute;
  z-index: 90;
  box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.4);
  width: 100%;
}


#footer_box_container {
  display: flex;
  max-height: 10%;
}

.sign_in_footer
{

  text-align: center;
  width: 25%;
}

.sign_in_footer p:nth-child(1)
{
  font-size: 20px;
  font-weight: 600;
  margin: 2px;
}

.sign_in_footer p:nth-child(2)
{
  font-size: 12px;
  margin: 2px;
}

.sign_in_footer a
{
  background-color:  rgba(255, 50, 50, 1);
  font-size: 16px;
  text-decoration: none;
  padding: 8px 5px 8px 5px;
  display: inline-block;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
}



.contact_footer
{


  width: 25%;
  text-align: center;

}

.contact_footer p:nth-child(1)
{
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
}

.contact_footer p:nth-child(2)
{
  font-size: 12px;
margin: 5px;
}

.contact_footer a
{
  background-color:  rgba(180, 50, 255, 1);
  font-size: 16px;
  text-decoration: none;
  padding: 8px 5px 8px 5px;
  display: inline-block;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
}





.social_footer
{

  width: 25%;
  text-align: center;
  overflow: hidden;
}

.social_footer_logo
{
    display:flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.social_footer img
{
  height: 40px;
  width: 40px;
}


.social_footer p
{
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
}

.social_footer a
{
  display: block;
  height: 50px;
  width: 40px;
  text-decoration: none;

}






.partner_footer
{
  text-align: center;
  width: 25%;
}

.partner_footer p
{
  font-size: 20px;
  font-weight: 600;
}

.partner_footer img
{
  height: 25px;
  width: 100px;
}




.copyright
{
    text-align: center;
    border-top: 1px solid red;
    font-size: 10px;
    background-color: rgba(150, 150, 150, 0.5);
    padding: 10px 0 10px 0;
}

.copyright p
{
  margin: 0px;
}

.red_text
{
  color: red;
}
