::-webkit-scrollbar
{
    width: 15px;
    z-index: 2;
}

/* Track */
::-webkit-scrollbar-track
{
    box-shadow: inset 3px 3px 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece
{
  background: rgba(190, 150, 110, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: rgba(150, 116, 74, 0.8);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: rgba(170, 130, 90, 0.8);
}
