html,body,footer
{
  margin: 0;
  overflow-x: hidden;
}

body
{


  background-attachment: scroll;
  color: black;
  font-family:  Helvetica, Arial, serif;
  font-size: 24px;


}

.underline
{
  text-decoration: underline;
}

h2
{
  margin-top: 0px;
  font-size: 28px;
}


section
{
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}



#s1
{
  position: relative;
  box-shadow: none;
  z-index: 10;
}

#s2
{
  position: relative;
  z-index: 5;
  padding-bottom: 80px;
  padding-top: 40px;
}


#event_section
{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;

}

#event_container {
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
}

.event {
  background-color: #f1f1f1;
  padding: 7px 7px 7px 7px;
  width: 300px;
  margin: 20px;
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
  box-shadow: 3px 0px  7px rgba(0, 0, 0, 0.4),3px 5px 7px rgba(0, 0, 0, 0.4);
}


#s3
{
  position: relative;
  background-color: rgba(200, 10, 50, 1);
  background-image: url("../images/Red_background2.png");
  z-index: 1;
  padding-bottom: 80px;
  padding-top: 40px;
}


#member_section
{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
}


#member_container {
  display: flex;
  justify-content: center;
   flex-wrap: wrap;

}



.member {

  width: 200px;
  height: 200px;
  margin: 20px;
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
}

.member_image img
{

  height: 150px;
  width: 150px;
}

.member_image
{
  position: absolute;
  margin-left: 25px;
}

.member_text
{
  height: 80px;
  width: 120px;
  margin-left: 40px;
  margin-top: 120px;
  position: relative;
  background-color: gray;
}



#s1_event
{
  position: relative;
  background-color: rgba(200, 10, 50, 1);

  background-image: url("../images/Red_background2.png");
  z-index: 1;
  padding-top: 40px;
}

#eventHeader_section
{
  margin-top: 50px;

}

#eventHeader_container
{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  display: block;
  padding-bottom: 30px;
}

.eventHeader_box
{
  justify-content: center;
  display: inline-flex;
  margin: 10px;
  background-color: white;
}

#eventHeader_title h2
{
  margin-bottom: 0;
  color: red;
}

#eventHeader_title
{
  padding: 10px 30px 10px 30px;
}

#date
{
    padding: 10px 30px 10px 30px;
}

#lieu
{
    padding: 10px 30px 10px 30px;
}

#description
{
  height: 350px;
  overflow-y: scroll;
}

#eventHeader_gestion
{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: white;
}

#eventHeader_gestion a
{
  text-decoration: none;
  color: white;
}

.eventHeader_gestion_box
{
  margin: 10px;
  padding: 10px 30px 10px 30px;
  background-color:  rgba(255, 50, 50, 1);
  color: white;
}

#event_deleter
{
    display: none;
}

#event_deleter:target
{
  display: block;

}

#picture_uploader
{
  display: none;
}

#picture_uploader:target
{
  display: block;
}

#event_inscription
{
  display: none;
}

#event_inscription:target
{
  display: block;
}


#view_registered
{
  display: none;
}

#view_registered:target
{
  display: block;
}

.box_window
{
  position: fixed;
  right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      margin-top: 200px;
      margin-bottom: auto;
      text-align: center;
      width: 60%;
      height: auto;
    border: 5px solid #ccc;
  display: block;

  background-color: white;
}

.deleteMeetingClose {
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    text-decoration:none;
    color: red;
}







#eventPictures_section
{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#eventPictures_container {
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;
}


.eventPictures_box {
  background-color: #f1f1f1;
  padding: 7px 7px 7px 7px;
  margin: 20px;
  text-align: center;
  font-size: 18px;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.4),3px 5px 7px rgba(0, 0, 0, 0.4);

}

.event_picture img
{
  max-width: 300px;
}

#eventPictures_title h2
{
  margin-bottom: 0;
  color: red;
}

#eventPictures_title
{
  padding: 10px 30px 10px 30px;
}


#event_picture_like
{

    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: white;
    font-size: 18px;
    border: 1.3px black solid;
    border-radius: 20px;
    position: relative;
    margin-right: 180px;

}

#event_picture_number_of_likes
{

  height: 20px;
  padding: 5px;
  background-color: white;
  font-size: 18px;
  border: 1.3px black solid;
  border-radius: 10px;
  position: relative;
}

.likes_box
{
  display: inline-block;
}

#s2_event
{
    box-shadow: none;
}

#s3_event
{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

}

#eventlist_section
{

  margin-left: auto;
  margin-right: auto;
    margin-top: 50px;
  width: 70%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
    background-color: rgba(200, 50, 50, 1);

}

#eventlist_container
{

border: 4px white solid;
border-radius: 5px;
background-color: rgba(60, 60, 60, 1);
margin: 10px;
box-shadow: 4px 0px 7px rgba(0, 0, 0, 0.4),5px 6px 7px rgba(0, 0, 0, 0.4);
}

#eventlist_container input[type="text"]
{
  display: none;
}

.eventinfo
{
  justify-content: center;
  display: inline-flex;
  margin: 10px;
  color: white;
}
